<div class="row">
    <div id="table-wrapper" class="card-body table-responsive">
        <div id="table-scroll">
            <table #productTbl class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products;let i = index" (click)="selectedRow(product, i)">
                        <td id="id{{i}}" >
                            {{product.id}} 
                        </td>
                        <td id="title{{i}}" >
                            {{product.title}} 
                        </td>
                        <td id="description{{i}}" >
                            {{product.description}} 
                        </td>
                        <td id="price{{i}}" >
                            {{product.price}} 
                        </td>
                        <td>
                            <button type="delete" class="btn btn-primary" (click)="removeRecord(product.id, i)">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
            <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
        <fieldset class="form-group">
            <label>Product Id</label>
            <input class="form-control" placeholder="Enter Id" [(ngModel)]="searchId">
            <br>
            <button type="submit" class="btn btn-primary" (click)="onSearch()">Search</button>
        </fieldset>
        <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
            <div class="form-group" *ngIf="id">
                <h3>Id: {{id}}</h3>
            </div>
            <div class="form-group">
                <label name="tilteLabel">Product title</label>
                <input name="title" class="form-control" placeholder="Enter title" [(ngModel)]="title" required>
            </div>
            <div class="form-group">
                <label name="desciLabel">Product description</label>
                <textarea name="desci" class="form-control" placeholder="Enter description" [(ngModel)]="desci">
                </textarea>
            </div>
            <div class="form-group">
                <label name="priceLabel">Product price</label>
                <input name="price" class="form-control" type="number" [(ngModel)]="price">
            </div>
            <div class="form-group">
                <button name="submitButton" type="submit" class="btn btn-primary">Submit</button>
                <button name="resetButton" type="button" class="btn btn-primary" (click)="clear(true)">Reset</button>
            </div>
        </form>
    </div>
</div>



